html
  head
  body
    form(action='/productos', method='POST')
      p
        | title: 
        input(name='title', value='', type='text')
        |          price: 
        input(name='year', value='', type='text')
        |          thumbnail: 
        input(name='imdb', value='', type='text')
      input(value='Submit', type='submit')