<div>
  <h3>Datos</h3>
  <form action="/productos" method="POST">
    <%=producto.title%> <input type="text" name="title">
    <%=producto.price%> <input type="number"  name="price">
    <%=producto.thumbnail%> <input type="text" name="thumbnail">
    <button type="submit">Enviar data</button>
  </form>
  <br>
  <form action="/productos" method="GET">
    <button type="submit">Ver productos</button>
  </form>
  </br>
</div>
