<div>
  <h3>Ingresar producto</h3>
  <%=producto.title%> <input type="text" name="title" , id='title'>
    <%=producto.price%> <input type="number" name="price" , id='price'>
      <%=producto.thumbnail%> <input type="text" name="thumbnail" , id='thumbnail'>
        <br>
        </br>
        <button type="submit" , id='submit'>Enviar data</button>
        <br>
        </br>
</div>